<script type="text/javascript" src="/vis/vis.min.js"></script>
<link href="/vis/vis.min.css" rel="stylesheet" type="text/css" />

<body>
<div id="graph"></div>
<script type="text/javascript" src="visualizer.js"></script>
</body>
